<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acg.onlyvoiceapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:screenOrientation="portrait"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlyVoiceApp">
        <activity android:name=".Posts.PostsDetails"
            android:parentActivityName=".MainFeed.WallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Messages.MessageActivity"
            android:parentActivityName=".Messages.ChatActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Messages.ChatActivity"
            android:parentActivityName=".MainFeed.WallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Posts.PostsItems"
            android:screenOrientation="portrait"/>
        <activity android:name=".Posts.PostCreateActivity"
            android:parentActivityName=".MainFeed.WallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registration.ShowProfile"
            android:parentActivityName=".MainFeed.WallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Search.SearchUsersItems"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registration.ProfileCreationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registration.RegistrationActivity"
            android:parentActivityName=".Registration.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Registration.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainFeed.WallActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>